{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load tempmath %}
{% load static %}

{% block content %}
{% if not template_basket %}
    <h2>Your basket is either empty, or all products are out of stock, sorry!</h2>

{% else %}
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>

        {% for row in template_basket %}
        <tr {% if not row.5 %} class="strikeout" {% endif %}>
            <td>{{row.0}}</td>
            <td>{{row.1}}</td>
            <td>{{row.2}}</td>
            <td>{{row.3}}</td>
            <td>{{row.4}}</td>
            {% if not row.5 %}
                <td>NOT AVAILABLE</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <h3>Total : £{{ request.session.total|convert_total }}</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button id="submit">Submit</button>
    </form>
{% endif %}

{% endblock %}

