{% extends "base.html" %}
{% load static %}

{% block content %}

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>

    {% for row in template_basket %}
    <tr>
        <td>{{row.0}}</td>
        <td>{{row.1}}</td>
        <td>{{row.2}}</td>
        <td>{{row.3}}</td>
        <td>{{row.4}}</td>
    </tr>
    {% endfor %}
</table>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button id="submit">Submit</button>
</form>

{% endblock %}

