{% extends "base.html" %}
{% load static %}
{% load tempmath %}
{% block content %}
<table class="table">
    <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Remove</th>
        <th>Remove</th>
    </tr>
    {% for b in basket%}
    <tr>
        <td>{{b.0.name}}</td>
        <td>{{b.1}}</td>
        <td><a href="{% url 'basket_modify' b.0.id -1 %}">Remove One</a></td>
        <td><a href="{% url 'basket_remove' b.0.id %}">Remove All</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
