{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/modal_custom.js' %}"></script>
{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Author</th>
            <th>Pages</th>
            <th>Price</th>
            <th>Owner</th>
            <th>Discount Percent</th>
            <th>Available</th>
            <th>Stock</th>
            <th>Genres</th>
            <th>Modify Genres</th>
            <th>Modify</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {% for b in obj %}
        <tr>
            <td>{{b.0.id}}</td>
            <td>{{b.0.name}}</td>
            <td>{{b.0.description}}</td>
            <td>{{b.0.author}}</td>
            <td>{{b.0.pages}}</td>
            <td>{{b.0.price}}</td>
            <td>{{b.0.owner}}</td>
            <td>{{b.0.discountPercent}}</td>
            <td>{{b.0.available}}</td>
            <td>{{b.0.stock}}</td>
            <td>
                {% for g in b.1 %}
                {{ g.genre.name }},
                {% endfor %}
            </td>
            <td><a href="{% url 'modify_book_genres' b.0.id %}">Modify Book Genres</a></td>
            <td><a href="{% url 'modify_book' b.0.id%}">Modify</a></td>
            <td><button role="button" class="btn btn-danger" onclick="reveal('{% url 'delete_book' b.0.id %}')">Delete</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'create_book' %}">Create</a>


<div id="bookingModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Are you sure you want to delete this book?</p>
        <a id="delete-button" class="btn btn-danger">Delete</a>
    </div>
</div>


<script>
    function reveal(value){
        modal.style.display = "block";
        $("#delete-button")[0].href = value;
    }
</script>
{% endblock %}
