<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Author</th>
            <th>Pages</th>
            <th>Price</th>
            <th>Owner</th>
            <th>Discount Percent</th>
            <th>Available</th>
            <th>Stock</th>
            <th>Genres</th>
            <th>Modify Genres</th>
            <th>Modify</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {% for b in obj %}
        <tr>
            <td>{{b.0.id}}</td>
            <td>{{b.0.name}}</td>
            <td>{{b.0.description}}</td>
            <td>{{b.0.author}}</td>
            <td>{{b.0.pages}}</td>
            <td>{{b.0.price}}</td>
            <td>{{b.0.owner}}</td>
            <td>{{b.0.discountPercent}}</td>
            <td>{{b.0.available}}</td>
            <td>{{b.0.stock}}</td>
            <td>
                {% for g in b.1 %}
                {{ g.genre.name }},
                {% endfor %}
            </td>
            <td><a href="{% url 'modify_book_genres' b.0.id %}">Modify Book Genres</a></td>
            <td><a href="{% url 'modify_book' b.0.id%}">Modify</a></td>
            <td><a href="{% url 'delete_book' b.0.id%}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'create_book' %}">Create</a>