{% load static %}
{% load tempmath %}
<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Bookstore</title>
  </head>
  <body>
    <header>
    {% block page_header %}
    {% if request.session.total %}
      <h3>£{{ request.session.total|convert_total }}</h3>
    {% else %}
      <h3>£0</h3>
    {% endif %}

    {% if user.is_authenticated %}
      <li><a href="{% url 'account_logout' %}">Logout</a></li>
    {% else %}
      <li><a href="{% url 'account_login' %}">Login</a></li>
      <li><a href="{% url 'account_signup' %}">Register</a></li>
      <li><a href="{% url 'account_reset_password' %}">Reset Password</a></li>      
    {% endif %} 

    {% endblock %}
    </header>


    {% block content %}

    {% endblock %}

    {% block postloadjs %}

    {% endblock %}
  </body>
</html>